@import "~src/style/base";
@import "~estyle/index";

.root {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}
