.ant-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: var(--borderColor);

  &.ant-btn-primary {
    box-shadow: 0 2px 0 var(--borderColor);

    >span {
      color: var(--backgroundColor);
    }
  }
}

a.ant-btn {
  text-decoration: none !important;
}
