@import "../data-feed/index.css";
@import "../data-feed-blueprintjs/index.css";
@import "../../node_modules/@blueprintjs/core/src/blueprint.scss";

:root {    
    --dfFontSize: 12px;
    --dfAttributeLabelOpacity: 0.5;
    --dfRowBackgroundColorHover: rgb(241, 241, 241);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}
